/beans.xml
/cn
/com
/considerKnowledge
/db
/db.properties
/java_jdbc
/log4j.properties
/log4j2.properties
/myServlet
/practice
/servlet
/springmvc-action.xml
/sqlMapConfig.xml
/test
/dom4j
/java_spring
