<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
		http://www.springframework.org/schema/beans/spring-beans-3.2.xsd 
		http://www.springframework.org/schema/mvc 
		http://www.springframework.org/schema/mvc/spring-mvc-3.2.xsd 
		http://www.springframework.org/schema/context 
		http://www.springframework.org/schema/context/spring-context-3.2.xsd 
		http://www.springframework.org/schema/aop 
		http://www.springframework.org/schema/aop/spring-aop-3.2.xsd 
		http://www.springframework.org/schema/tx 
		http://www.springframework.org/schema/tx/spring-tx-3.2.xsd ">
	
		<!-- 快速配置注解处理器映射器、注解处理器适配器 -->
		<mvc:annotation-driven conversion-service="conversionService" validator="validator"></mvc:annotation-driven>	
		
		<!-- 配置@Controller扫描器，对某一个包下的所有类进行扫描，找出所有使用@Controller注解的Handler控制器类 -->	
		<context:component-scan base-package="cn.com.mvc.controller"></context:component-scan> 
		
		<!-- 配置转换服务 --> 
		<bean id="conversionService" class="org.springframework.format.support.FormattingConversionServiceFactoryBean"/>
		
		<!-- 配置校验器 -->  
		<bean id="validator" class="org.springframework.validation.beanvalidation.LocalValidatorFactoryBean">  
		    <!-- 校验器-->  
		    <property name="providerClass" value="org.hibernate.validator.HibernateValidator" />  
		    <!-- 指定校验使用的资源文件，在文件中配置校验的错误信息，如果不指定则默认使用classpath下的ValidationMessages.properties -->   
		    <property name="validationMessageSource" ref="messageSource" />  
		</bean> 
		<!-- 校验错误信息配置文件 -->  
		<bean id="messageSource" class="org.springframework.context.support.ReloadableResourceBundleMessageSource">  
		    <!-- 资源文件名-->  
		    <property name="basenames">     
		         <list>      
		           <value>classpath:ProductValidationMessages</value>  
		         </list>     
		    </property>  
		    <!-- 资源文件编码格式 -->  
		    <property name="fileEncodings" value="utf-8" />  
		    <!-- 对资源文件内容缓存时间，单位秒 -->  
		    <property name="cacheSeconds" value="120" />  
		</bean>   
		
		<!--配置视图解析器(springMVC包含多种视图解析器)-->
        <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">  
		  <property name="prefix" value="/jsp"/>  
		  <property name="suffix" value=".jsp"></property> 
		</bean>
		
		<!-- 配置Spring mvc全局异常处理器-->		
		<bean class="cn.com.mvc.exception.UserExceptionResolver"></bean>  
		
		<!-- 全局配置拦截器，每一个接口请求都会被拦截-->			
		<mvc:interceptors>  
		    <!-- 多个拦截器，顺序执行 -->  
		    <mvc:interceptor>  
		        <!-- /**表示所有url包括子url路径 -->  
		        <mvc:mapping path="/**"/>  
		        <bean class="cn.com.mvc.interceptor.LoginInterceptor"/>  
		    </mvc:interceptor>  
		</mvc:interceptors> 
		
		<!-- 配置多类型文件上传解析器 -->
		<bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
			<!-- 设置上传文件的最大尺寸为5MB -->
			<property name="maxUploadSize">
				<value>5242880</value>
			</property>
		</bean>
		
		<!-- restful,配置默认的servlet处理器，如果路径没有经过路径映射，则交给web应用服务器的Servlet进行静态资源的请求 -->		
		<mvc:default-servlet-handler/>
		
</beans>